[Unit]
Description=Contact Book Server
After=network.target

[Service]
Type=simple
User=andy
WorkingDirectory=/home/andy/contact-book-orch
ExecStart=/usr/bin/node /home/andy/contact-book-orch/server.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-contact-book-orch
Environment=NODE_ENV=production 

[Install]
WantedBy=multi-user.target
